.container{
    border: 2px solid black;
    border-radius: 10px;
    background-color:blueviolet;
}
.main{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    
}
.card{
    height: 200px;
    background-color: aqua;
    width: 23%;
    margin: 5px 0px;
    border-radius: 8px;
}
h4{
    text-align: center;
}